* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* valde en bakgrundsbild till sidan */
body {
    background-image: url("backround3.jpg"); 
    background-size: 100%;
    height: fit-content;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#contact-form {
    background-color: rgba(41, 41, 41, 0.6);
    border-radius: 3%;
    margin-top: 5%;
    padding: 10%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}

h1 {
    color: #eae6e6;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: x-large;
    letter-spacing: 5px;
    margin-bottom: 15%;
    background-color: rgba(48, 36, 34, 0.3);
    padding: 5%;
}

#contact-list {
    margin-top: 5%;
}

#container {
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
::placeholder {
    color: #181818;
    font-size: 15px;   
}


input[type="text"] {
    padding: 8px;
    font-size: 16px;
    margin: 7px;
    border-style: none;
    opacity: 0.8;
    background-color: #ffffff;
}

button {
    padding: 10px 18px;
    font: 10px;
    margin:5px;
    margin-top: 13px;
    background-color: #393939;
    color:#d1d1d1;
    border: none;
    letter-spacing: 2px;
    border-radius: 7px;
    cursor: pointer;

}

button:hover {
    transform: scale(1.1);
    background-color: #554646;
    color: #ececec;
    transition: 0.3s;
}

ul {
    list-style:none;
    padding: 0;
}

li {
    margin: 10px;
    font-size: 5px;
    cursor: pointer;
    
}

@media screen and (max-width: 600px) {
    #contact-form {
        margin-left: 5%;
        width: 90%;
        padding: 5%;
        height: 90vh;
    }
    #container {
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    
    input [type="text"] {
        font-size: 15px;
        display: block;
    }

    input {
        font-size: 15px;
        display: block;
        width: 95%;
    }

    h1 {
        font-size: 12px;
        margin-bottom: 25%;
        padding: 15%;
        background-color: rgba(33, 33, 33, 0.5);
    }
    button {
        font-size: 12px;
        width: 95%;
    }
    li {
        font-size: 12px;
    }

    body{
    background-image: none;
    background-color: #818181;
    }

    
}